<section [class.sidenav]="isExpanded">
  <mat-nav-list>
    <!-- <mat-list-item > -->
      <a mat-list-item *ngFor="let route of routeLinks" routerLinkActive="active-link" class="sidenav-item" routerLink="{{ route.link }}">
        <mat-icon mat-list-icon [matTooltip]="!isExpanded ? route.name : ''" matTooltipPosition="right">
          {{ route.icon }}
        </mat-icon>
        <span *ngIf="isExpanded">{{ route.name }}</span>
      </a>
    <!-- </mat-list-item> -->
  </mat-nav-list>
</section>
