/* You can add global styles to this file, and also import other style files */
// Base
@import './scss/base/reset';
@import './scss/base/typography';

// Componentes

// Layout
@import './scss/layout/side_nav';

// hack
main {
  box-sizing: border-box;
  padding: 18px;
  min-height: calc(100vh - 64px);
}

// Pages

// Themes

// Utils

// Vendors
@import './scss/vendors/mat_sidenav';

// main.scss
@import './scss/main';
